.data_table {
    color: #333;
}

th {
    padding-left: 10pt;
    text-align: left;
}

td {
    padding-left: 10pt;
    text-align: left;
}
a {
    color: #0AF;
}

a:hover {
    color: #0CF;
}

body {
    background-color: #222;
    color: #EEE;
    font-family: 'Roboto Mono', monospace;
    font-size: 12pt;
}

.main_block {
    max-width: 800px;
    margin: 0% auto;
}

.main_block_header {
    background-color: #333;
    padding: 3px;
    padding-bottom: 10px;
    border-bottom: 1px solid #AAA;
}

.main_block_content {
    background-color: #222;
    padding: 3px;
}

.main_block_bottom {
    background-color: #333;
    padding: 3px;
    border-top: 1px solid #BBB;
    margin-top: 10px;
}

.bottom_link {
    padding: 3px;
}